
<form method='post' action='/pista'>
  <input type="submit" name="pista" value="pista">
</form>
<form method='get' action='/juego' >
<h1>
Bienvenido <%= @@nombre_jugador %>
</h1>
<h2 name='Oportunidades'>Oportunidades: <%= @@juego.oportunidades %></h1>
<br />
<table>  
  <tr>
    <th>
      <img src="../img/<%if(@@juego.mensaje=="Ganaste")%>7<% else %><%= @@juego.oportunidades %><%   end %>0.jpg" alt="<%= @@juego.oportunidades %>">
    </th>
    <th>
      <h1><%= @@juego.mostrar_guiones %></h1>
      <br />

      <% if (@mostrar_pista) %>
        Pista: <%= @@juego.mostrar_pista %>
      <% end %>
      <br />
      Ingresar letra:
      <input type="text" name="nletra" value="">
      <input type="submit" name="Letra" value="Letra">
      <br />
      Letras Usadas: <%= @@juego.letras_usadas %>
      <br />
      <%= @@juego.mensaje %>
    </th>
  </tr>
</table>

</form>
