<form method='post' action='/pista'>
  <input type="submit" name="pista" value="pista">
</form>
<form method='get' action='/juego' >
<h1 name='Oportunidades'>Oportunidades: <%= @@juego.oportunidades %></h1>
<br />
<br />
<% if (@mostrar_pista) %>
  Pista: <%= @@juego.mostrar_pista %>  
<% end %>
<br/>
espacios: <h1><%= @@juego.mostrar_guiones %></h1>
<br />
letra:
<input type="text" name="nletra" value="a">
<input type="submit" name="Letra" value="Letra">
<br />
letras: <%= @@juego.letras_usadas %>
<br />
<%= @@juego.mensaje %>
</form>
